<%= form_with model: @article, local: true, class: "row g-3" do |form| %>
 
  <% if @article.errors.any? %>
    <%= render 'shared/error', obj:@article %>
  <% end %>

  <div class="col-md-6">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  
  <div class="col-12">
    <%= form.label :content, class: "form-label" %>
    <%= form.text_area :content, class: "form-control", rows: 5 %>
  </div>

  <div class="col-12">
    <%= form.label :category_ids, "Categories (Optional)", class: "form-label" %>
    <%= form.collection_select(:category_ids, Category.all, :id, :name,
        { prompt: "Select categories (optional)" }, 
        { multiple: true, class: "form-select", size: 4, 
          style: "min-height: 120px;" }) %>
    <div class="form-text">Hold Ctrl (Windows) or Cmd (Mac) to select multiple categories. Categories are optional.</div>
  </div>

  <div class="col-12">
    <%= form.submit (@article.new_record? ? "Create Article" : "Update Article"), 
        class: "btn btn-primary" %>
    <%= link_to 'Cancel', articles_path, class: "btn btn-secondary ms-2" %>
  </div>
<% end %>