<!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <%= link_to "Blog App", root_path, class: "navbar-brand" %>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <%= link_to "Home", root_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Articles", articles_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Bloggers", users_path, class: "nav-link" %>
            </li>
            <% if logged_in? && current_user.admin? %>
              <li class="nav-item">
                <%= link_to "Categories", categories_path, class: "nav-link" %>
              </li>
            <% end %>
            <li class="nav-item">
              <%= link_to "About", about_path, class: "nav-link" %>
            </li>
          </ul>
          <ul class="navbar-nav">
            <% if logged_in? %>
              <li class="nav-item">
                <%= link_to user_path(current_user), class: "nav-link" do %>
                  <% if current_user.admin? %>
                    <span class="badge bg-warning me-1">Admin</span>
                  <% end %>
                  <%= current_user.name %>
                <% end %>
              </li>
              
              <li class="nav-item">
                <%= button_to "Logout", logout_path, method: :delete, 
                    class: "btn btn-link nav-link border-0 bg-transparent", 
                    form: { style: "display: inline;" } %>
              </li>

              <li class="nav-item">
                <%= button_to "Delete Profile", user_path(current_user), method: :delete,
                    data: { confirm: "Are you sure?" } ,
                    class: "btn btn-link nav-link border-0 bg-transparent", 
                    form: { style: "display: inline;" } %>
              </li>
              
            <% else %>
              <li class="nav-item">
                <%= link_to "Sign Up", signup_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Login", login_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>